body{
    font-family: Arial, sans-serif;
}
.form{
    margin: 0 auto;
    width: 25vw;
    height: 71vh;
}
.login{
    height: 80%;
    border: 1px solid rgba(128, 128, 128, 0.4);
}
.login, form{
    width: 100%;
    display: flex;
    justify-content: flex-start;
    align-items: center;
    flex-direction: column;
}
.login img{
    width: 80%;
    height: auto;
}
input[type="text"],
input[type="password"]{
    width: 78%;
    padding: 3% 1%;
    margin-top: 1vh;
    box-sizing: border-box;
}
input[type="submit"]{
    width: 78%;
    height: 5vh;
    background-color: #68b5fa;
    color: white;
    border-radius: 1vh;
    border: none;
    margin-top: 2vh;
}
form span{
    margin: 1vh 0;
    color: gray;
}
form p svg{

}
form p{
    color: #375185;
    margin: 15px 0;
}
form a{
    color: #375185;
    text-decoration: none;
}

.registration{
    height: 17%;
    margin-top: 3%;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    border: 1px solid rgba(128, 128, 128, 0.4);
}
.registration a{
    color: #68B5FA;
    text-decoration: none;
    font-weight: 600;
}